@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family:'Inter'
}


.navText{
    font-family: 'Jockey One';
    @apply md:text-lg sm:text-base
}

.featuresSection{
    background: rgb(201,225,177);
    background: linear-gradient(180deg, rgba(201,225,177,1) 0%, rgba(166,197,167,1) 100%); 
}

.featuresSection2{
    background: rgb(201,225,177);
    background: linear-gradient(0deg, rgba(201,225,177,1) 0%, rgba(166,197,167,1) 100%); 
}

.featuresTitle{
    background-color: red;
}
